<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar alunos</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>
<div
        class="flex h-screen bg-gray-50 dark:bg-gray-900"
        :class="{ 'overflow-hidden': isSideMenuOpen}"
>
    <!-- Desktop sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="flex flex-col flex-1">
        <div th:replace="~{/fragments/header.html :: heads}"></div>
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                        style="margin-bottom: 0px;"
                ></h2>
                <!-- CTA -->
                <a
                        class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
                        href="/aluno"
                >
                    <div class="flex items-center">
                        <svg
                                class="w-5 h-5 mr-2"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                        >
                            <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                            ></path>
                        </svg>
                        <span>Cadastro de alunos</span>
                    </div>
                    <span>Acessar listagem de alunos</span>
                </a>

                <!-- General elements -->
                <h4
                        class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
                >
                    Adicionar aluno
                </h4>
                <br>
                <div
                        class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                    <form th:action="@{/aluno/salvar}" th:object="${aluno}" method="post">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Nome</span>
                            <input th:field="*{nome}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite o nome"
                            />
                        </label>

                        <br>

                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Email</span>
                            <input th:field="*{email}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite o email"
                            />
                        </label>

                        <br>

                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">CPF</span>
                            <input th:field="*{cpf}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite o CPF"
                            />
                        </label>

                        <br>

                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Endereço</span>
                            <input th:field="*{endereco}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite o  endereço"
                            />
                        </label>

                        <br>

                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Telefone</span>
                            <input th:field="*{telefone}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite o telefone"
                            />
                        </label>

                        <br>

                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Turma</span>
                            <input th:field="*{turma}"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   placeholder="Digite a turma"
                            />
                        </label>

                        <br>


                        </button>


                </div>
                <br>
                <input style="background-color: #7E3AF2; border-color: #7E3AF2; color: white; height: 40px; border-radius: 7px;"
                       type="submit" value="Salvar">
                </form>

                </label>
            </div>
        </main>
    </div>
    </main>
</div>
</div>
</body>
</html>