<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" :class="{ 'theme-dark': dark }" x-data="data()" lang="pt">
<head>
  <title>Gestão AAPM</title>
  <div th:replace="~{/fragments/heads.html :: heads}"></div>
</head>
<body>
<div
        class="flex h-screen bg-gray-50 dark:bg-gray-900"
        :class="{ 'overflow-hidden': isSideMenuOpen }"
>


  <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>


  <div class="flex flex-col flex-1 w-full">
    <div th:replace="~{/fragments/header.html :: heads}"></div>
    <main class="h-full overflow-y-auto">
      <div class="container px-6 mx-auto grid">
        <h2
                class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Dashboard
        </h2>
        <!-- CTA -->
        <a
                class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
                href="/relatorio"
        >
          <div class="flex items-center">
            <svg
                    class="w-5 h-5 mr-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
            >
              <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <span>Gerar relatórios</span>
          </div>

        </a>
        <!-- Cards -->
        <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-2">
          <!-- Card -->
          <div
                  class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
          >
            <div
                    class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500"
            >
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                        d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                ></path>
              </svg>
            </div>
            <div>
              <p
                      class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
              >
                Receitas registradas
              </p>
              <p
                      class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >
                <span th:text="${qtdReceitas}"></span>
              </p>
            </div>
          </div>
          <!-- Card -->
          <div
                  class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
          >
            <div
                    class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500"
            >
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path
                        fill-rule="evenodd"
                        d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                        clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div>
              <p
                      class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
              >
                Total de recebimentos
              </p>
              <p
                      class="text-lg font-semibold text-gray-700 dark:text-gray-200"
              >
                <span th:text="${valorTotalReceitas}"></span>
              </p>
            </div>
          </div>


        </div>

        <table class="w-full whitespace-no-wrap display table table-striped table-hover" id="basic-datatables">
          <thead>
          <tr
                  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">DATA DE PAGAMENTO</th>
            <th class="px-4 py-3">COMPRADOR</th>
            <th class="px-4 py-3">FORMA DE PAGAMENTO</th>
            <th class="px-4 py-3">RECEBEDOR</th>
            <th class="px-4 py-3">VALOR</th>

          </tr>
          </thead>
          <tbody
                  class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
          >


          <tr th:if="${receitas.empty}" class="text-gray-700 dark:text-gray-400">
            <td colspan="5" class="px-4 py-3">Nenhum registro encontrado</td>
          </tr>

          <tr th:each="receita : ${receitas}" class="text-gray-700 dark:text-gray-400">
            <td style="width: 7%" class="px-4 py-3"><span th:text="${receita.id}">ID</span></td>
            <td class="px-4 py-3"><span
                    th:text="${#dates.format(receita.dataPagamento, 'dd/MM/yyyy')}">Data</span></td>
            <td class="px-4 py-3"><span th:text="${receita.pessoa.nome}">Comprador</span></td>
            <td class="px-4 py-3"><span th:text="${receita.formaPagamento}">Forma de Pagamento</span></td>
            <td class="px-4 py-3"><span th:text="${receita.observacao}">Recebedor</span></td>
            <td class="px-4 py-3"><span th:text="${receita.calcularValorReceita()}">Valor</span></td>

          </tr>


          </tbody>
        </table>



        <h2
                class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Gráficos
        </h2>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Receitas no Ano</div>
              </div>
              <div class="card-body">
                <div class="chart-container" style="height: 300px">
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Receitas por Mês</div>
              </div>
              <div class="card-body">
                <div class="chart-container" style="height: 300px">
                  <canvas id="barChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br /><br /><br />

      </div>
    </main>
  </div>
</div>
</body>
</html>
<script src="/assets/js/plugin/chart.js/chart.min.js"></script>
<script>
  var lineChart = document.getElementById("lineChart"),
          barChart = document.getElementById("barChart");

  var myLineChart = new Chart(lineChart, {
    type: "line",
    data: {
      labels: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez",
      ],
      datasets: [
        {
          label: "Receitas",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: "transparent",
          borderWidth: 2,
          data: [
            542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900,
          ],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: "bottom",
        labels: {
          padding: 10,
          fontColor: "#1d7af3",
        },
      },
      tooltips: {
        bodySpacing: 4,
        mode: "nearest",
        intersect: 0,
        position: "nearest",
        xPadding: 10,
        yPadding: 10,
        caretPadding: 10,
      },
      layout: {
        padding: {left: 15, right: 15, top: 15, bottom: 15},
      },
    },
  });

  //loadLineChart();
  loadLineChartSomarReceitasPorMes();

  var myBarChart = new Chart(barChart, {
    type: "bar",
    data: {
      labels: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez",
      ],
      datasets: [
        {
          label: "Receitas",
          backgroundColor: "rgb(23, 125, 255)",
          borderColor: "rgb(23, 125, 255)",
          data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900,],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });












  var myLegendContainer = document.getElementById("myChartLegend");

  // generate HTML legend
  myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

  // bind onClick event to all LI-tags of the legend
  var legendItems = myLegendContainer.getElementsByTagName("li");
  for (var i = 0; i < legendItems.length; i += 1) {
    legendItems[i].addEventListener("click", legendClickCallback, false);
  }



  function loadLineChartSomarReceitasPorMes(){
    fetch("/api/financeiro/receita/somar-receitas-por-mes")
            .then((response) => response.json())
            .then((data) => {
              myLineChart.data.datasets[0].data = data;
              myBarChart.data.datasets[0].data = data;
              myBarChart.update();
              myLineChart.update();
            });
  }

  loadLineChartSomarReceitasPorMes();






</script>
